#conteneur {
  display: block;
  margin: auto;
  padding: 20px;
  max-width: 600px;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border-width: 0;
  /* text-decoration: none; */
  /* box-shadow: none; */
  width: 100%;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#clear {
  background: red;
}

#info {
  /* margin:auto; */
  /* max-width: 350px; */
}

#info input[type="text"] {
    border: 1px solid gray;
    font-size: 18px;
    /* width: 275px; */
    padding: 5px;
    /* margin: auto; */
    display: block;
  }

#info input[type="email"] {
    border: 1px solid gray;
    font-size: 18px;
    /* width: 275px; */
    padding: 5px;
    /* margin: auto; */
    display: block;
  }
