#conteneur {
  display: block;
  margin: auto;
  padding: 20px;
}

#conteneur .uk-button {
  width: 100%;
  margin:3px;
}

#conteneur .uk-button-success {
  background: green;
  color: white;
}

#sig-conteneur-interireur {
  margin:auto;
}

#info input {
  width: -webkit-fill-available;
  height: 1.5em;
}

#info input[type="text"] {
  border: 1px solid gray;
  font-size: 18px;
  /* width: 275px; */
  padding: 5px;
  /* margin: auto; */
  display: block;
}

#info input[type="email"] {
  border: 1px solid gray;
  font-size: 18px;
  /* width: 275px; */
  padding: 5px;
  /* margin: auto; */
  display: block;
}

#texte {
  display: none;
}

// TODO Peut-être un pu moins de margin-top.

#boutons {
  // position: fixed;
  // margin-bottom: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  margin-top: 50px;
  padding: 1rem;
  background: white;
  display: none;
}

  #signature-pad {
    /* border-bottom: solid 1px black; */
    border: solid 1px grey;
    margin: auto;

  }

  #signature-ligne {
    margin-top: 0;
  }
  #bumper {
    height: 30px;
  }

  // TODO Faire une plus belle mise-en-page pour les tablettes

  @media only screen and (min-width : $breakpoint-medium) {

    #conteneur .uk-button {
      // width: auto;
      display: block;
    }

    #troisboutons {
      display: block ;
      margin: auto;
      margin-bottom: 3em;
    }

    #sig-conteneur {
      display: flex;
    }

  }

  @media only screen and (max-width : $breakpoint-medium) and (orientation : landscape) {

    #titre {
    font-size: 1rem;
    margin-bottom: 0;
    }

    #conteneur .uk-button {
      // width: auto;
      display: block;
    }

    #troisboutons {
      display: block ;
      margin: auto;
      margin-bottom: 3em;
    }

    #sig-conteneur {
      display: flex;
    }
}
