.liste_categorie {
  list-style-type: none;
}

.liste_categorie h3,p {
  margin: 10px 0 10px 0;
}

.liste_categorie p {
  margin: 10px 0 20px 15px;
  font-style: italic;
}

.metro {
  font-size: 32px;
  color: red;
}

#vamonos {
  width: 100%;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: #1579c1;
  border-radius: 5px;
}

/* Change cursor when mousing over clickable layer */
.leaflet-clickable {
  cursor: crosshair !important;
}

// Le popup sur les mappes

.titre-popup {
  margin-top: 20px;
}

.mapboxgl-popup {
  width: 180px;
}

@media screen and (max-width: 320px) {
    header .uk-logo {
        font-size: 1rem;
    }
}


// La légende sur les mappes

.legende {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 16px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.legende div span {
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin-right: 10px;
    width: 14px;
}
