.liste_categorie {
  list-style-type: none;
}

.liste_categorie h3,p {
  margin: 10px 0 10px 0;
}

.liste_categorie p {
  margin: 10px 0 20px 15px;
  font-style: italic;
}

.metro {
  font-size: 32px;
  color: red;
}

#vamonos {
  width: 100%;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: #1579c1;
  border-radius: 5px;
}

/* Change cursor when mousing over clickable layer */
.leaflet-clickable {
  cursor: crosshair !important;
}

// .ancre {
//     display: block;
//     position: relative;
//     top: 500px;
//     visibility: hidden;
// }

// h2[id], h3[id], h4[id] {
//   padding-top: 150px;
//   padding-bottom: -150px;
// }

// :target:before {
//   content:"";
//   display:block;
//   height:150px; /* fixed header height*/
//   margin:-150px 0 0; /* negative fixed header height */
// }
