  <script>
  //Add realtime listener
  firebase.auth().onAuthStateChanged(firebaseUser => {
    if(firebaseUser) {
      if(firebaseUser.emailVerified) {
        console.log(firebaseUser);
        secret.style.display ='';
        btnLogout.style.display = '';
      } else {
        location.href = '/verif';
      }
    } else {
      console.log('Pas loggé');
      location.href = '/login';
    };
  });
  </script>


  <!-- <script>
  //Add realtime listener
  firebase.auth().onAuthStateChanged(firebaseUser => {
    if(firebaseUser) {
        // is email verified
        if(firebaseUser.emailVerified) {

        }

    }
  });
  </script> -->
