<script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>

<script>
  // Initialize Firebase
  var config = {  
    apiKey: "AIzaSyDfrVIwqbZivAdzlzlCYiaH-QXX3Po8W0s",
      authDomain: "une-cie-d-autocar-ordinaire.firebaseapp.com",
      databaseURL: "https://une-cie-d-autocar-ordinaire.firebaseio.com",
      projectId: "une-cie-d-autocar-ordinaire",
      storageBucket: "une-cie-d-autocar-ordinaire.appspot.com",
     
  };
  firebase.initializeApp(config);
</script>
