<div class="uk-margin-large-top">
    <h3>Autres {{ page.categories }}</h3>

    {% assign maxRelated = 4 %}
    {% assign minCommoncategories =  1 %}
    {% assign maxRelatedCounter = 0 %}

    <ul class="uk-list">
    {% for doc in site.docs %}

    {% assign sameTagCount = 0 %}
    {% assign commoncategories = '' %}

    {% for tag in doc.categories %}
        {% if doc.url != page.url %}
            {% if page.categories contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommoncategories %}
        <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
            {% break %}
        {% endif %}
    {% endif %}

    {% endfor %}
    </ul>
</div>
