<div class='rg-container'>
	<table class='rg-table zebra' summary=''>
		<thead>
			<tr>
				<th class='text '></th>
				<th class='text '></th>
				<th class='text '>Nb de places</th>
				<th class='text '>Horaire</th>
				<th class='text '>Nuit</th>
			</tr>
		</thead>
		<tbody>

				<tr class=''>
					<td class='text ' data-title=''>WATER ST  entre FULTON ST et JOHN ST</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.707101,-74.004579'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-74.004579,40.707101)/-74.004579,40.707101,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='WATER ST  entre FULTON ST et JOHN ST'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>24h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Oui</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>NORTH END AV entre CHAMBERS ST et WARREN ST</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.717281,-74.014058'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-74.014058,40.717281)/-74.014058,40.717281,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='NORTH END AV entre CHAMBERS ST et WARREN ST'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>24h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Oui</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>SOUTH ST entre OLD SLIP et BROAD ST</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.702366,-74.009477'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-74.009477,40.702366)/-74.009477,40.702366,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='SOUTH ST entre OLD SLIP et BROAD ST'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>10h - 19h Sauf dimanche<br>Parcomètre 3h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Non</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>SOUTH ST entre PIKE SLIP et MARKET SLIP</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.709673,-73.992755'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-73.992755,40.709673)/-73.992755,40.709673,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='SOUTH ST entre PIKE SLIP et MARKET SLIP'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>8h - 18h Sauf dimanche<br>Parcomètre 3h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Non</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>WEST ST entre VESEY ST et BARCLAY ST</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.714405,-74.013402'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-74.013402,40.714405)/-74.013402,40.714405,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='WEST ST entre VESEY ST et BARCLAY ST'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>10h-16h L-V et  7h-19h S-D<br>Parcomètre 3h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Non</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>BARCLAY ST entre CHURCH ST et WEST BROADWAY</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.713084,-74.010426'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-74.010426,40.713084)/-74.010426,40.713084,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='BARCLAY ST entre CHURCH ST et WEST BROADWAY'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>7h - 19h Sauf dimanche<br>Parcomètre 3h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Non</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>BARCLAY ST entre GREENWICH ST et WEST ST</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.714120,-74.012709'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-74.012709,40.714120)/-74.012709,40.714120,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='BARCLAY ST entre GREENWICH ST et WEST ST'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>10h-16h L-V et  7h-19h S-D<br>Parcomètre 3h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Non</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>GREENWICH ST entre BATTERY PL et BROOKLYN BATTERY TUNNEL</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.705710,-74.014649'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-74.014649,40.705710)/-74.014649,40.705710,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='GREENWICH ST entre BATTERY PL et BROOKLYN BATTERY TUNNEL'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>15h - 19h Sauf Dimanche<br>Parcomètre 3h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Non</span></td>
				</tr>

		</tbody>
	</table>
</div>

<script>
	rougeVert();
</script>
