<div class='rg-container'>
	<table class='rg-table zebra' summary=''>
		<thead>
			<tr>
				<th class='text '></th>
				<th class='text '></th>
				<th class='text '>Nb de places</th>
				<th class='text '>Horaire</th>
				<th class='text '>Nuit</th>
			</tr>
		</thead>
		<tbody>

				<tr class=''>
					<td class='text ' data-title=''>E 97 ST entre FDR DR et 1 AV</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.783821,-73.943889'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-73.943889,40.783821)/-73.943889,40.783821,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='E 97 ST entre FDR DR et 1 AV'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>24h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Oui</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>AMSTERDAM AV entre CATHEDRAL PKY et W 113 ST</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.804467,-73.962819'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-73.962819,40.804467)/-73.962819,40.804467,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='AMSTERDAM AV entre CATHEDRAL PKY et W 113 ST'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>8h - 19h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>À vos risques</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>W 118 ST entre LENOX AV et 5 AV</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.802643,-73.947038'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-73.947038,40.802643)/-73.947038,40.802643,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='W 118 ST entre LENOX AV et 5 AV'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>Dimanche seulement 10h - 16h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Non</span></td>
				</tr>


				<tr class=''>
					<td class='text ' data-title=''>EDGECOMBE AV entre W 162 ST et W 160 ST</td>
					<td class='text ' data-title=''><a href='https://maps.google.com/maps?ll=40.835520,-73.937493'><img src='https://api.mapbox.com/v4/mapbox.high-contrast/pin-l-parking+ff2600(-73.937493,40.835520)/-73.937493,40.835520,17/640x320@2x.png?access_token=pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw' alt='EDGECOMBE AV entre W 162 ST et W 160 ST'></a></td>
					<td class='text ' data-title='Nb de places'></td>
					<td class='text ' data-title='Horaire'>Dimanche seulement 10h - 16h</td>
					<td class='text ' data-title='Nuit'><span style='padding:0.5em'>Non</span></td>
				</tr>

		</tbody>
	</table>
</div>

<script>
	rougeVert();
</script>
