---
layout: default
---
<!-- <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
</script> -->
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.1/locale/en-ca.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.1/locale/fr-ca.min.js"></script>
<!-- <script src="/code/signature.js"></script> -->
<script src="{{ "/assets/js/signature.js" | relative_url }}"></script>

<div id="conteneur">

<div>

  <h2 id="titre">{{ page.title | escape }}</h2>

  <!-- <p id="texte">{{ content }}</p> -->

  <div id="texte">
  {{ page.content }}
  </div>

</div>

<div>
  <form id="info">
    <!-- Nom du client :<br> -->
    <input type="text" name="contrat" placeholder="numéro du contrat">
    <input type="text" name="nom" placeholder="Nom du client">
    <!-- Courriel du client :<br> -->
    <input type="email" name="courriel" placeholder="Courriel du client">
  </form>
</div>
<br>
<div class="sig-conteneur" style="margin:auto;max-width:600px">
  <canvas id="signature-pad" class="signature-pad" height=150 width=280></canvas>
</div>
<br />
<div>
  <button id="save" class="btn">Approuver</button>
  <button id="clear" class="btn">Effacer</button>
</div>

</div>


<script>
  $(document).ready(function() {
    signature();
  });
</script>
