---
layout: default
---

<!-- TODO Ajouter un toggle pour les places de nuit et celles qui ne sont utilisables que le jour. Voir https://www.mapbox.com/mapbox-gl-js/example/toggle-layers/. -->
<!-- TODO Ajouter une légende -->
<!-- TODO faire que les points se resizent automatiquement quand je zoom. -->

<!-- TODO 1. Inclure mapbox(gl?) en node. 2. Convertir mon csv en geojson. 3. Créer ma couche *on site* comme je fais sur /props/heat.html -->

<div id='map' style='height:100vh'></div>

<div id='legende-places' class='legende'>
    <div><span style='background-color: green'></span>Débarcadère</div>
    <div><span style='background-color: black'></span>Stationnement</div>
</div>

<script>

  var mappe = getLaMappe('mappe');
  var layer = getLaMappe('layer');
  var lng = getLaMappe('lng');
  var lat = getLaMappe('lat');
  var zoom = getLaMappe('zoom');
  // var tileset = getLaMappe('tileset');

  mapboxgl.accessToken = 'pk.eyJ1IjoieG9icGFtNjY2IiwiYSI6ImNqZnBiY3E0ZTBmbDUzM3FvMjZta3IxZWYifQ.Y8TVWK0bfi0mRBnz8cMLdw';
  var map = new mapboxgl.Map({
    container: 'map',
    // style: 'mapbox://styles/xobpam666/' + mappe,
    // style: 'mapbox://styles/xobpam666/cjidnz2n81hc42rqoi9db4thx',
    style: 'mapbox://styles/xobpam666/cjj77nsf624ka2snn0nj3f21x',
    center: [lng,lat], // starting position [lng, lat]
    zoom: zoom // starting zoom
  });

  map.on('load', function() {

  map.addSource('park', {
    type: 'geojson',
    // data: '../' + layer
    data: layer
  });

    map.addLayer({
      'id': 'parking',
      'type': 'circle',
      'source': 'park',
      'paint': {
        'circle-radius': 10,
        'circle-color': [
            'match', ['get', 'debarcadere'],
            'VRAI', 'green',
            'FAUX','black',
          'yellow'
        ]
      }
    });
  });

  map.on('click', 'parking', function(e) {

    // Pour que le geojson des api match celui de mes feuilles de calcul

    var nom = e.features[0].properties.nom != undefined ? e.features[0].properties.nom : e.features[0].properties.LOCATION;
    var horaire = e.features[0].properties.horaire != undefined ? e.features[0].properties.horaire : e.features[0].properties.RESTRICTIONS;
    var places = e.features[0].properties.places != undefined ? e.features[0].properties.places : e.features[0].properties.NUMOFSPOTS;

    console.log(e.features[0].geometry.coordinates)

    var gmap = 'https://www.google.com/maps?q=' + e.features[0].geometry.coordinates[1] + ',' + e.features[0].geometry.coordinates[0];

    // https://www.google.com/maps?q=45.51680482,-73.5631628

    new mapboxgl.Popup()
      .setLngLat(e.features[0].geometry.coordinates)
      .setHTML(
        '<h4 class="titre-popup">' + nom + '</h4> \
            <p><b>Nb de places : </b>' + places + '</p> \
            <p><b>Horaire :  </b>' + horaire + '</p> \
            <input id="vamonos" type="button" onclick="location.href=' + '&quot;' + gmap + '&quot;' + '" value="Allons-y!" />'
      )
      .addTo(map);
  });

  // Code pour changer le curseur en pointeur sur les éléments clickables. Pas clair comment faire ne mode mobile.

  // map.on("mousemove", function(e) {
  //   //get the feature underneath the mouse
  //   var features = map.queryRenderedFeatures(e.point, {
  //     layers: [layer]
  //   });
  //   //if there's a point under our mouse, then do the following.
  //   if (features.length > 0) {
  //     //use the following code to change the
  //     //cursor to a pointer ('pointer') instead of the default ('')
  //     map.getCanvas().style.cursor = (features[0].properties.Name !== null) ? 'pointer' : '';
  //   }
  //   //if there are no points under our mouse,
  //   //then change the cursor back to the default
  //   else {
  //     map.getCanvas().style.cursor = '';
  //   }
  // });

  // Code pour la position de l'utilisateur

  map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
      enableHighAccuracy: true
    },
    trackUserLocation: true
  }));

</script>
